<%= stylesheet_link_tag    "home", :media => "all" %>
<%= title "Pof Magicfingers / gicma.dev" %>
<div class="container">
  <%= link_to "https://pofmagicfingers.fr/", class: "item" do %>
    <%= image_tag "pofmagicfingers.jpg" %>
    <h2>Pod&shy;casts, Gaming, etc</h2>
  <% end %>
  <%= link_to "https://gicma.dev/", class: "item" do %>
    <%= image_tag "gicma.dev.jpg" %>
    <h2>Déve&shy;lop&shy;pe&shy;ment</h2>
  <% end %>
</div>
